.section2 .contactform label .cntfrmicn {
  color: #00C1A8;
  padding: 14px;
  position: absolute;
  z-index: 99;
}

.modal-wrapper {
  background: #fff;
  max-width: 800px;
  /* margin: 4rem auto; */
  top: 0;
  margin-top: -46%;
  margin-left: -66%;
  transition: all .5s ease;
}

.modal-header {
  background: transparent;
  color: #060606;
  /* background-color: #99c6ee; */
  padding: 1rem;
  /* display: flex; */
  /* align-items: center; */
  justify-content: space-between;
  display: -ms-flexbox;
    display: flex;
    border-bottom: none;
    align-items: flex-start;
}

.modal-header span {
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-content {
  background-color: white;
  border: 0;
  border-radius: unset;
}
/* .modelbg{
  display: flex;
} */

.modal-body {
  margin-bottom: 1rem;
  text-align: left;
}

.modal-body h4 {
  font-size: 1.8rem;
  color: #DD501D;
}
input[type="text"] {
  padding: 10px;
  width: 100%;
 
}
.modal {
  background: rgba(0, 0, 0, 0.6);
}
.d-block {
  display: block!important;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.modal-body p {
  font-size: 1rem;
  background: #eee;
  color: #333;
  padding: 1rem;
  margin: 1rem 0 2rem 0;
}

.modal-footer button {
  display: block;
  font-size: 1rem;
  margin-left: auto;
  padding: 0.5rem 1.8rem;
  background: #DD501D;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.back-drop {
  background: rgba(63, 61, 61, 0.692);
  height: 100%;
  position: fixed;
  transition: all 1.3s;
  width: 100%;
}
@media screen and (max-width: 900px){
  .modal-wrapper {
      background: #fff;
      width: 100%;
      max-width: 800px;
      /* margin: 4rem auto; */
      top: 0;
      margin-top: -146%;
      margin-left: -58%;
      transition: all .5s ease;
  }
}