.dropdown-menu {
	display: inline-block;
	width: 12%;
	/* position: absolute; */
	top: 66px;
	list-style: none;
	text-align: start;
	left: unset;
	padding: 0;
}

.dropdown-menu li {
	background: #d3e1ed;
	cursor: pointer;
}

.dropdown-menu li:hover {
	background: #4689c0;
	color: white;
}

.dropdown-menu.clicked {
	display: none;
}

.dropdown-link {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	color: rgb(0, 0, 0);
	padding: 16px;
	font-size: 18px;
	font-weight: bold;
}

.dropdown-link:hover {
	color: white;
}

/* @media screen and (max-width: 960px) {
	.fa-caret-down {
		display: none;
	}
} */
